<div class="row">
  <div class="col-sm-12">
    <h1>Loggers
      <button class="btn btn-primary float-right" (click)="getLoggers()">Reload</button>
    </h1>
  </div>
  <div class="col-sm-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-primary" *ngIf="isLoading">
        Loading...
      </li>
      <li class="list-group-item list-group-item-danger" *ngIf="isError">
        There has been an unexpected error. See the console for more information.
      </li>
      <li class="list-group-item" *ngIf="!isError && !isLoading">

        <form role="form">
          <div class="mb-3">
            <label for="username">Search</label>
            <div class="input-group">
              <input type="text" class="form-control" [formControl]="searchInput">
              <div class="input-group-append" *ngIf="searchTerm != null">
                <button class="btn btn-danger" type="button" (click)="clear()">Clear</button>
              </div>
            </div>
          </div>
        </form>

      </li>
      <ng-container *ngFor="let l of loggers | keys">
        <app-single-logger class="list-group-item" [logger]="l" *ngIf="filter(l, searchTerm)">
        </app-single-logger>
      </ng-container>
    </ul>
  </div>
</div>