<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" [routerLink]="['/']">actman</a>
    <button class="navbar-toggler" type="button" (click)="collapsed = !collapsed" [attr.aria-expanded]="!collapsed"
        aria-controls="navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse" [ngbCollapse]="collapsed">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/loggers']">Loggers</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/traces']">Http Traces</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" role="form" [formGroup]="authForm" (ngSubmit)="login()">
            <input class="form-control mr-sm-2" type="text" placeholder="Token" *ngIf="!isLogin" formControlName="token"
                [attr.disabled]="isLogin ? '' : null">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" *ngIf="!isLogin">Authenticate</button>
            <button class="btn btn-outline-danger my-2 my-sm-0" type="button" (click)="logout()" *ngIf="isLogin">Logout</button>
        </form>
    </div>
</nav>

<div class="container">

    <router-outlet></router-outlet>

</div>