<div class="row">
  <div class="col-sm-12 col-md-6">
    <p><strong>{{ trace.request.method }}</strong> {{ trace.request.uri }}</p>
    <p class="text-muted">{{ trace.timestamp | date:'yyyy/MM/dd HH:mm:ss.SSS' }}</p>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="float-right">
      <p> <span class="text-muted">Response: </span><strong>{{ trace.response.status }}</strong></p>
      <p> <span class="text-muted">Time taken: </span><strong>{{ trace.timeTaken }}</strong>ms</p>
    </div>
  </div>
</div>