<div class="row">
  <div class="col-xl-8 col-md-6 col-sm-12">
    <p>{{ logger.key }}</p>
  </div>
  <div class="col-xl-4 col-md-6 col-sm-12">
    <div class="btn-group float-right">
      <button class="btn" [ngClass]="{'btn-secondary': logger.value.effectiveLevel == 'OFF'}" (click)="changeLevel('OFF')">Off</button>
      <button class="btn" [ngClass]="{'btn-info': logger.value.effectiveLevel == 'TRACE'}"  (click)="changeLevel('TRACE')">Trace</button>
      <button class="btn" [ngClass]="{'btn-primary': logger.value.effectiveLevel == 'DEBUG'}"  (click)="changeLevel('DEBUG')">Debug</button>
      <button class="btn" [ngClass]="{'btn-success': logger.value.effectiveLevel == 'INFO'}"  (click)="changeLevel('INFO')">Info</button>
      <button class="btn" [ngClass]="{'btn-warning': logger.value.effectiveLevel == 'WARN'}"  (click)="changeLevel('WARN')">Waring</button>
      <button class="btn" [ngClass]="{'btn-danger': logger.value.effectiveLevel == 'ERROR'}"  (click)="changeLevel('ERROR')">Error</button>
    </div>
  </div>
</div>